body {
    background-color: silver;
    color: white;
    padding: 5px;
}

h1 {
    padding: inherit;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    word-spacing: 12px;
    letter-spacing: 5px;
    /*vertical-align: text-top;*/
    background-color: #eeeeee;
    color: #666666;
    text-shadow: 2px 2px 0px #000000;
}

h1::first-letter {
    font-size: 40px;
}

p {
    padding: 5px;
    margin: 0px;
    text-align: center;
    line-height: 20px;
    text-shadow: 20px, 20px, 20px, black;
}

p.fourteen {
    background-color: hsla(240, 100%, 20%, 1);
}

p.thirteen {
    background-color: hsla(240, 100%, 25%, 1);
}

p.twelve {
    background-color: hsla(240, 100%, 30%, 1);
}

p.eleven {
    background-color: hsla(240, 100%, 35%, 1);
}

p.ten {
    background-color: hsla(240, 100%, 40%, 1);
}

p.nine {
    background-color: hsla(240, 100%, 45%, 1);
}

p.eight {
    background-color: hsla(240, 100%, 50%, 1);
}

p.seven {
    background-color: hsla(120, 100%, 20%, 1);
}

p.six {
    background-color: hsla(0, 100%, 50%, 1);
}

p.five {
    background-color: hsla(0, 100%, 45%, 1);
}

p.four {
    background-color: hsla(0, 100%, 40%, 1);
}

p.three {
    background-color: hsla(0, 100%, 35%, 1);
}

p.two {
    background-color: hsla(0, 100%, 30%, 1);
}

p.one {
    background-color: hsla(360, 100%, 25%, 1);
}

p.zero {
    background-color: hsla(360, 100%, 20%, 1);
}